# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform directory
.terraform/

# Crash logs
crash.log

# Exclude override files as they are usually local-only
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Terraform plan output
*.tfplan

# Exclude Terraform dependency lock file (optional, if not tracked)
.terraform.lock.hcl'